:root {
  --bg-dark: oklch(0.1 0.1 107);
  --bg-light: oklch(0.2 0.1 107);
  --text: oklch(0.96 0.1 107);
  --text-muted: oklch(0.76 0.1 107);
  --border: oklch(0.4 0.2 107);
  --border-muted: oklch(0.3 0.2 107);
  --primary: oklch(0.76 0.2 107);
  --warning: oklch(0.7 0.2 100);
  font-size: clamp(14px, 1.1vw, 17px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
}

button {
  all: unset;
  width: fit-content;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container {
    margin-inline: auto;
    background-image: linear-gradient(
      to top,
      var(--border-muted),
      var(--bg-light)
    );
    max-width: 500px;
    width: calc(100% - 50px * 2);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--border-muted);
    padding: 1rem;
    border-radius: 10px;
    border-top-color: var(--border);
    #counter {
      color: var(--text);
      width: 100%;
      border: 1px solid var(--border-muted);
      border-top-color: var(--border);
      padding: 15px 20px;
      border-radius: 20px;
      text-align: right;
      background-color: var(--bg-dark);
      box-shadow: 0px 2px 10px var(--bg-dark); 
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;

      button {
        display: inline-block;
        width: calc(50% - 10px * 2);
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        color: var(--text);
        font-weight: 900;
        font-size: 50px;
        transition: scale 0.25s ease;
        background-image: linear-gradient(to top, var(--border), var(--warning)); 
        box-shadow: 0px 2px 10px var(--bg-dark); 
        &:active {
          scale: 0.96;
        }
        i {
          pointer-events: none;
        }
      }
    }
  }
}
